:root {
    --theme-gradient: linear-gradient(45deg, #fd9e84, #ff6969);
    --theme-color: #ff6969;
    --background: #dddddd;
}

.background {
    background-image: url("/static/images/bells.webp");
}

.pomodoro_wrapper {
    color: white;
}
.pomodoro_clock .mask .fill {
    border: 8px solid white;
}