:root {
    --theme-gradient: linear-gradient(45deg, #4c5fbe, #6e4fc2);
    --theme-color: #4c5fbe;
    --primary: white;
    --background: black;
    --shading: drop-shadow(0px 0px 8px #ffffff22);
}

.background {
    background: url("/static/images/night.jpg") center no-repeat;
    background-size: cover;
}

.pomodoro_wrapper {
    color: white;
}

.pomodoro_clock .mask .fill {
    border: 8px solid white;
}

.white_noise_info i {
    color: white;
}