:root {
    --theme-gradient: linear-gradient(45deg, #ffe8a8, #88ffff);
    --theme-color: #4cd1ff;
    --shading: drop-shadow(2px 4px 6px #00000044);
}

:root.dark_mode {
    --theme-gradient: linear-gradient(45deg, #006aff, #d7b900);
    --theme-color: #006aff;
}

.background {
    background: url("/static/images/beach.jpg") center bottom no-repeat;
    background-size: cover;
}

.pomodoro_wrapper {
    color: white;
}

.pomodoro_clock .mask .fill {
    border: 8px solid white;
}