.background {
    filter: blur(2px);
}

.background.tint_green {
    filter: blur(10px);
}

@supports (backdrop-filter: blur(4px)) {
    .window_wrapper.blur {
        background: #00000011;
        backdrop-filter: blur(4px);
    }
}